In [1]:
import pandas as pd

# Load the dataset
file_path = 'drug_consumption.data'
df = pd.read_csv(file_path)

# Show basic information and preview
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1885 entries, 0 to 1884
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1885 non-null   int64
 1   AGE        1885 non-null   float64
 2   GENDER     1885 non-null   float64
 3   EDUCATION  1885 non-null   float64
 4   COUNTRY    1885 non-null   float64
 5   ETHNICITY  1885 non-null   float64
 6   NSCORE     1885 non-null   float64
 7   ESCORE     1885 non-null   float64
 8   OSCORE     1885 non-null   float64
 9   ASCORE     1885 non-null   float64
 10  CSCORE     1885 non-null   float64
 11  IMPULSIVE  1885 non-null   float64
 12  SS         1885 non-null   float64
 13  ALCOHOL    1885 non-null   object
 14  AMPHET     1885 non-null   object
 15  AMYL       1885 non-null   object
 16  BENZOS     1885 non-null   object
 17  CAFF       1885 non-null   object
 18  CANABIS    1885 non-null   object
 19  CHOC       1885 non-null   object
 20  COKE       1885 non-null   object
 21  CRACK      1885 non-null   object
 22  ECSTASY    1885 non-null   object
 23  HEROIN     1885 non-null   object
 24  KETAMINE   1885 non-null   object
 25  LEGALH     1885 non-null   object
 26  LSD        1885 non-null   object
 27  METH       1885 non-null   object
 28  MUSHROOMS  1885 non-null   object
 29  NICOTINE   1885 non-null   object
 30  SEMER      1885 non-null   object
 31  VSA        1885 non-null   object
dtypes: float64(12), int64(1), object(19)
memory usage: 471.4+ KB

(None,
    ID      AGE   GENDER  EDUCATION  COUNTRY  ETHNICITY   NSCORE   ESCORE  \
 0   1  0.49788  0.48246   -0.05921  0.96082    0.12600  0.31287 -0.57545
 1   2 -0.07854 -0.48246    1.98437  0.96082   -0.31685 -0.67825  1.93886
 2   3  0.49788 -0.48246   -0.05921  0.96082   -0.31685 -0.46725  0.80523
 3   4 -0.95197  0.48246    1.16365  0.96082   -0.31685 -0.14882 -0.80615
 4   5  0.49788  0.48246    1.98437  0.96082   -0.31685  0.73545 -1.63340

     OSCORE   ASCORE  ...  ECSTASY  HEROIN  KETAMINE LEGALH  LSD METH  \
 0 -0.58331 -0.91699  ...      CL0     CL0       CL0    CL0  CL0  CL0
 1  1.43533  0.76096  ...      CL4     CL0       CL2    CL0  CL2  CL3
 2 -0.84732 -1.62090  ...      CL0     CL0       CL0    CL0  CL0  CL0
 3 -0.01928  0.59042  ...      CL0     CL0       CL2    CL0  CL0  CL0
 4 -0.45174 -0.30172  ...      CL1     CL0       CL0    CL1  CL0  CL0

   MUSHROOMS NICOTINE SEMER  VSA
 0       CL0      CL2   CL0  CL0
 1       CL0      CL4   CL0  CL0
 2       CL1      CL0   CL0  CL0
 3       CL0      CL2   CL0  CL0
 4       CL2      CL2   CL0  CL0

 [5 rows x 32 columns])

In [2]:


#-------------------------------
import numpy as np
columns = df.columns

# Mapping des classes de consommation à des valeurs numériques
consumption_map = {
    "CL0": 0, "CL1": 1, "CL2": 2, "CL3": 3, "CL4": 4, "CL5": 5, "CL6": 6
}
drug_columns = columns[13:]  # de ALCOHOL à VSA

# Convertir les colonnes de consommation
for col in drug_columns:
    df[col] = df[col].map(consumption_map)

# Convertir les colonnes numériques en float
for col in columns[1:13]:
    df[col] = pd.to_numeric(df[col], errors='coerce')

# Vérification rapide après transformation
df[drug_columns].describe()
#-------------------------------

,ALCOHOL,AMPHET,AMYL,BENZOS,CAFF,CANABIS,CHOC,COKE,CRACK,ECSTASY,HEROIN,KETAMINE,LEGALH,LSD,METH,MUSHROOMS,NICOTINE,SEMER,VSA
count,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000
mean,4.635013,1.340584,0.606897,1.465252,5.483820,2.989390,5.106631,1.161273,0.297613,1.314058,0.374005,0.569231,1.355968,1.061538,0.826525,1.187268,3.200531,0.009549,0.433422
std,1.331253,1.783587,1.064210,1.867275,1.114648,2.287438,1.089315,1.513031,0.837053,1.647567,1.034779,1.220015,1.789647,1.491103,1.646632,1.466341,2.413932,0.159331,0.962375
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,0.000000,0.000000,0.000000,5.000000,1.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,5.000000,0.000000,0.000000,0.000000,6.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000
75%,6.000000,2.000000,1.000000,3.000000,6.000000,5.000000,6.000000,2.000000,0.000000,3.000000,0.000000,0.000000,3.000000,2.000000,0.000000,2.000000,6.000000,0.000000,0.000000
max,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,4.000000,6.000000

In [ ]:
def regression(y_column:str,X_columns:list):
    from sklearn.linear_model import LinearRegression
    from sklearn.model_selection import train_test_split
    from sklearn.metrics import r2_score, mean_squared_error

    # Dépendante : consommation de cannabis
    y = df[y_column]

    # Indépendantes : traits de personnalité
    X = df[X_columns]
    x_transform = X

    print(np.ones(x_transform.shape[0]).shape)

    X = np.hstack([x_transform, np.ones((x_transform.shape[0], 1))])
    a = np.linalg.solve(X.T@X, X.T@y)
    # Prédictions
    y_pred = X @ a

    # Erreur quadratique moyenne (MSE)
    mse = np.mean((y - y_pred) ** 2)

    # RMSE
    rmse = np.sqrt(mse)

    # R²
    ss_tot = np.sum((y - np.mean(y)) ** 2)
    ss_res = np.sum((y - y_pred) ** 2)
    r_squared = 1 - (ss_res / ss_tot)

    return r_squared, rmse, pd.Series(a[:-1], index=X_columns)

DRUGS = df.columns[13:]

resultat = []

for drug in DRUGS:

    R2, error, coeffs = regression(drug,["NSCORE", "ESCORE", "OSCORE", "ASCORE", "CSCORE", "IMPULSIVE", "SS"])
    resultat.append([drug,R2,error,coeffs])

sorted_resultat = sorted(resultat, key=lambda x:x[1])

for elt in sorted_resultat:

    print()
    print(elt[0])
    print(f"R^2 :{elt[1]}")
    print(f"taux d'erreur :{elt[2]}")
    print("coefficients:")
    print(elt[3].sort_values(ascending=False))

(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)
(1885,)

SEMER
R^2 :0.0038281710437085836
taux d'erreur :0.15898387970165653
coefficients:
SS           0.011223
ASCORE       0.004217
CSCORE       0.001777
NSCORE       0.001702
ESCORE       0.001254
OSCORE       0.000418
IMPULSIVE   -0.004142
dtype: float64

CHOC
R^2 :0.004651654392726856
taux d'erreur :1.086489986036154
coefficients:
ESCORE       0.050038
NSCORE       0.038797
ASCORE       0.032415
OSCORE       0.011584
IMPULSIVE    0.000211
CSCORE      -0.020918
SS          -0.062284
dtype: float64

CAFF
R^2 :0.0067328504883202855
taux d'erreur :1.1105943960512201
coefficients:
ESCORE       0.079309
NSCORE       0.030211
SS           0.023022
IMPULSIVE    0.016638
OSCORE      -0.004544
ASCORE      -0.007751
CSCORE      -0.031517
dtype: float64

ALCOHOL
R^2 :0.019332837596594543
taux d'erreur :1.3179718611463496
coefficients:
SS           0.167613
ESCORE       0.128169
NSCORE       0.045626
CSCORE      -0.001538
ASCORE      -0.016385
OSCORE      -0.040742
IMPULSIVE   -0.057617
dtype: float64

AMYL
R^2 :0.04690200355685992
taux d'erreur :1.0386777594015497
coefficients:
SS           0.203117
ESCORE       0.031788
NSCORE      -0.008411
OSCORE      -0.021957
IMPULSIVE   -0.027072
ASCORE      -0.051039
CSCORE      -0.091112
dtype: float64

CRACK
R^2 :0.057102690814099466
taux d'erreur :0.8125871391665132
coefficients:
SS           0.101547
IMPULSIVE    0.072667
NSCORE       0.033615
OSCORE       0.032647
CSCORE      -0.027809
ASCORE      -0.029808
ESCORE      -0.051568
dtype: float64

KETAMINE
R^2 :0.08156012152959569
taux d'erreur :1.1688946550548989
coefficients:
SS           0.206165
OSCORE       0.140601
IMPULSIVE    0.001384
NSCORE      -0.005201
ESCORE      -0.009155
ASCORE      -0.070240
CSCORE      -0.115509
dtype: float64

VSA
R^2 :0.08371413288761076
taux d'erreur :0.9209676912642847
coefficients:
SS           0.200999
OSCORE       0.071996
NSCORE       0.040435
IMPULSIVE    0.001071
ASCORE      -0.040044
ESCORE      -0.046600
CSCORE      -0.064836
dtype: float64

HEROIN
R^2 :0.09106784358072151
taux d'erreur :0.9862752338734652
coefficients:
SS           0.131946
NSCORE       0.093429
OSCORE       0.088190
IMPULSIVE    0.064765
CSCORE      -0.024875
ESCORE      -0.074654
ASCORE      -0.100693
dtype: float64

METH
R^2 :0.11009521686990487
taux d'erreur :1.5529346284090564
coefficients:
SS           0.236922
OSCORE       0.226768
NSCORE       0.124472
IMPULSIVE    0.035783
CSCORE      -0.095277
ASCORE      -0.129290
ESCORE      -0.205101
dtype: float64

NICOTINE
R^2 :0.13091748058962582
taux d'erreur :2.2497817463893828
coefficients:
SS           0.531110
OSCORE       0.234020
IMPULSIVE    0.089214
NSCORE       0.079594
ASCORE      -0.039138
ESCORE      -0.077838
CSCORE      -0.334458
dtype: float64

BENZOS
R^2 :0.15169083046211107
taux d'erreur :1.7193732870869456
coefficients:
NSCORE       0.361453
OSCORE       0.277010
SS           0.257568
IMPULSIVE    0.086095
CSCORE      -0.073840
ESCORE      -0.123831
ASCORE      -0.131701
dtype: float64

COKE
R^2 :0.15272025660566446
taux d'erreur :1.3923425691902027
coefficients:
SS           0.390277
NSCORE       0.113652
OSCORE       0.105636
ESCORE       0.054362
IMPULSIVE    0.023145
CSCORE      -0.125586
ASCORE      -0.173890
dtype: float64

AMPHET
R^2 :0.15874371764408357
taux d'erreur :1.6354720819812465
coefficients:
SS           0.378291
OSCORE       0.225011
IMPULSIVE    0.158464
NSCORE       0.018137
ASCORE      -0.087874
ESCORE      -0.138331
CSCORE      -0.203658
dtype: float64

ECSTASY
R^2 :0.19326519895972938
taux d'erreur :1.479426417101429
coefficients:
SS           0.485557
OSCORE       0.278597
ESCORE       0.052793
NSCORE      -0.006916
IMPULSIVE   -0.044117
ASCORE      -0.058897
CSCORE      -0.254254
dtype: float64

LSD
R^2 :0.20819269776839855
taux d'erreur :1.326484185356351
coefficients:
OSCORE       0.433559
SS           0.402949
IMPULSIVE   -0.038131
ASCORE      -0.052438
NSCORE      -0.097069
CSCORE      -0.116085
ESCORE      -0.154557
dtype: float64

MUSHROOMS
R^2 :0.2194580603056252
taux d'erreur :1.295143549833217
coefficients:
OSCORE       0.415384
SS           0.372207
IMPULSIVE    0.017070
ASCORE      -0.064886
NSCORE      -0.106343
ESCORE      -0.136634
CSCORE      -0.153188
dtype: float64

LEGALH
R^2 :0.23250651966144953
taux d'erreur :1.567435050499002
coefficients:
SS           0.593178
OSCORE       0.381480
NSCORE      -0.039812
IMPULSIVE   -0.058604
ASCORE      -0.072647
ESCORE      -0.200790
CSCORE      -0.258100
dtype: float64

CANABIS
R^2 :0.3161197199086465
taux d'erreur :1.891141807802477
coefficients:
SS           0.756349
OSCORE       0.705459
IMPULSIVE   -0.036630
ASCORE      -0.116361
NSCORE      -0.131040
ESCORE      -0.279279
CSCORE      -0.370929
dtype: float64